.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules

*.sublime*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Ignore code-workspaces
*.code-workspace